*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
}

body {
    background-color: #fff;
   
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
}
.company-name{
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap:10px;
				width: 100%;
				
}
.coy-text{
				display: flex;
				align-items: center;
				justify-content: center;
				
}


nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight:bold;
}
a:hover{
				color: red;

}
.quote-btn {
    background-color: red;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.quote-btn2 {
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 15%;
}

.content-body{
   background-image: url("./images/transport.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100vw;
    height: 100%;
    color: white;
    
}
.content-top{
				display: flex;
				flex-direction: column;
				gap:20px;
				padding: 40px 60px ;
}

.content-tail{
   display: flex;
   align-items: center;
   justify-content: center;
}
.content-buttom{
   padding-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap:20px;
   text-align: center;
}
.head-top{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap:7px;
}
h2{
  font-weight: bolder;
  text-transform: capitalize;
  
				
}
.line{
				width:40% ;
				border-bottom: 5px solid red;
				border-radius: 5px;
}
.content-text{
				font-size: 14px;
				font-weight: bold;
				line-height: 2rem;
}
.col{
				display: flex;
				
				justify-content: center;
				gap:20px;
				padding:  50px;
				
}
.box{
				flex: 50%;
				
}
.imgg{
				width: 100%;
				height: 100%;
				object-fit: cover;
}
.tp{
				color: red;
				margin-bottom: 20px;
				
}
.tp2{
				font-weight: bold;
				line-height: 2rem;
				text-transform: capitalize;
				margin-bottom: 20px;
}
.down-btn{
				border: 1px solid red;
				background: red;
				color: white;
				padding: 5px 10px;
				text-decoration: none;
				margin-top: 5px;
				border-radius: 5px ;
}
.bus{
				margin-bottom: 15px;
}
.main-box{
				padding: 50px;
}
.to{
				text-align: center;
}
.to2{
				text-align: center;
				text-transform: capitalize;
}
.trip{
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				gap:10px;
}
.air{
				margin-bottom: 10px;
}
.trip-link{
				text-decoration: none;
				color: red;
}
.trip-img{
				width: 100%;
				border-radius: 10px;
}
.ad-box{
				padding: 50px;
}

.ad{
				padding:50px ;
				background: #FFBF14;
				display: flex;
				
				gap:10px;
}
.ad-text{
     flex-basis: 50%;
				
}
.ad-text2{
				display: flex;
				text-align: center;
				justify-content: flex-end;
				width: 100%;
				height: 70%;
}

.tp2mod{
				flex-basis: 70%;
}
.quote-btm{
				padding: 10px;
}
.contact{
				display: flex;
				justify-content: center;
				gap:50px;
				padding: 50px;
}
.con-box{
				flex-basis: 50%;
				
}
.contain{
				width: 100%;
				
}
.logo-b{
				width: 100%;
}
.lg{
				display: flex;
				align-items: center;
				gap:25px;
				margin-bottom: 35px;
				
}
.lg-box{
				border: 2px solid black;
				border-radius: 50%;
				width: 50px;
				height: 50px;
}
.thead{
				margin-bottom: 20px;
}
.lg-text{
				flex-basis: 70%;
				width: 100%;
}
.form-box{
				width: 100%;
				
}
.closed{
				width: 100%;
				
}
.form-con{
				display: flex;
				align-items: center;
				gap:10px;
				margin-bottom: 20px;
}
.form-con input{
				border: 1px solid rgb(0,0,0, .1);
				border-radius: 5px;
				padding: 15px 10px;
				flex-basis: 50%;
}
.form-area{
				border: 1px solid rgb(0,0,0, .1);
				padding: 15px 10px;
				width: 100%;
				height: 180px;
				border-radius: 5px;
}
.sub{
				width: 100%;
				display:flex ;
				align-items: center;
				justify-content: flex-start;
}
.form-btn{
				padding: 10px 40px;
				margin-top:10px ;
}
footer{
				background: black;
				color: white;
				height: 100%;
}
.foot-con{
				padding: 50px;
				display: flex;
				
				gap:30px;
}

.foot-head{
				text-transform: uppercase;
				font-weight: bold;
				color: white;
				margin-bottom: 20px;
}
.foot-box{
      flex-basis: 50%;
				
}

.flink{
      margin-top: 20px;
				list-style-type: none;
				margin-bottom: 10px;
				margin-left: 25px;
}
.photograph{
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap:20px;
}
.had{
				margin-left: 25px;
}
.email-box{
      margin-top: 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 40px;
				
				
}

.foot-input{
				border: 1px solid white;
				border-radius: 5px;
				padding: 15px 10px;
				background: black;
				color: gray;
}
.copy{
				text-align: center;
				margin-top:30px ;
				padding-bottom: 25px;
				text-transform: capitalize;
				color: white;
}